<!-- <mat-toolbar class="text-center">
    <span>FIND VOUCHERS</span>
</mat-toolbar> -->
<mat-tab-group dynamicHeight headerPosition="below" [(selectedIndex)]="selectedTabIndex"
    (selectedTabChange)="onTabChanged($event);">
    <mat-tab>
        <ng-template mat-tab-label>
            <div class="icon-container">
                <img src="/assets/images/icons/home-icon.svg" class="active-icon" />
                <img src="/assets/images/icons/home-icon-dark.svg" class="non-active-icon" />
            </div>
            <div>HOME</div>
        </ng-template>
        <div class="tab-page-container mat-elevation-z4">
            <div class="find-voucher-header-title text-center">
            </div>
            <agm-map [zoom]="11" [disableDefaultUI]="false" [fitBounds]="true" (mapReady)="onMapReady($event)">
                <agm-overlay [latitude]="marker.latitude" [longitude]="marker.longitude"
                    *ngFor="let marker of markers;let i=index">
                    <div class="marker-main-info">
                        <img class="placeholder-image" src="/assets/images/icons/map-pin-default-small.png"
                            *ngIf="marker.type === 'DISCOUNT' || marker.type === 'VOUCHER'">
                        <img class="placeholder-image" src="/assets/images/icons/map-pin-hunt-primary-small.png"
                            *ngIf="marker.type === 'HUNT'">
                        <img class="placeholder-image" src="/assets/images/icons/map-pin-trivia-primary-small.png"
                            *ngIf="marker.type === 'TRIVIA'">
                        <img class="client-logo"
                            [src]="marker.logo.length>0?marker.logo[0].path:'/assets/images/icons/map-pin-default-small.png'"
                            *ngIf="marker.type === 'DISCOUNT' || marker.type === 'VOUCHER'">
                    </div>
                </agm-overlay>
                <agm-marker [agmFitBounds]="true" [latitude]="marker.latitude" [longitude]="marker.longitude"
                    [openInfoWindow]="true" [iconUrl]="marker.finalIcon" *ngFor="let marker of markers;let i=index"
                    [label]="'3'" [animation]="'DROP'" [visible]="false">
                </agm-marker>
            </agm-map>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <div class="icon-container">
                <img src="/assets/images/icons/my-voucher-icon.svg" class="active-icon" />
                <img src="/assets/images/icons/my-voucher-icon-dark.svg" class="non-active-icon" />
            </div>
            <div>MY VOUCHERS</div>
        </ng-template>
        <div class="tab-page-container my-vouchers-container mat-elevation-z4">
            <div class="my-voucher-item">
                <div class="my-voucher-header">
                    <div class="my-voucher-logo">
                        <img src="https://redvoucherblobstorage.blob.core.windows.net/images/mY9xFgLayer_71.png">
                    </div>
                    <div class="my-voucher-info-detail">
                        <div class="my-voucher-info-title">Puma</div>
                        <div class="my-voucher-info-category">Clothing & Apparels</div>
                    </div>
                    <div class="left-circle"></div>
                    <div class="right-circle"></div>
                </div>
                <hr class="divider" />
                <div class="my-voucher-body">
                    <div class="my-voucher-body-inner">
                        <!-- <img src="/assets/images/my-voucher-background.svg" class="voucher-background"> -->
                        <div class="my-voucher-offer-detail">
                            <img src="/assets/images/icons/discount-icon.svg">
                            <div class="offer-amount">$80 off*</div>
                        </div>
                        <div class="term-condition-label">
                            *Terms and Conditions Applied
                        </div>
                    </div>
                </div>
                <!-- <div class="my-voucher-footer">
                    <button mat-stroked-button class="site-button medium-button share-button">
                        <mat-icon>share</mat-icon> Share
                    </button>
                    <button mat-raised-button class="site-button medium-button site-second-color">
                        Redeem
                    </button>
                </div> -->
            </div>
            <div class="my-voucher-item">
                <div class="my-voucher-header">
                    <div class="my-voucher-logo">
                        <img src="https://redvoucherblobstorage.blob.core.windows.net/images/mY9xFgLayer_71.png">
                    </div>
                    <div class="my-voucher-info-detail">
                        <div class="my-voucher-info-title">The Burger King</div>
                        <div class="my-voucher-info-category">Clothing & Apparels</div>
                    </div>
                    <div class="left-circle"></div>
                    <div class="right-circle"></div>
                </div>
                <hr class="divider" />
                <div class="my-voucher-body">
                    <div class="my-voucher-body-inner">
                        <div class="my-voucher-offer-detail">
                            <img src="/assets/images/icons/discount-icon.svg">
                            <div class="offer-amount">$80 off*</div>
                        </div>
                        <div class="term-condition-label">
                            *Terms and Conditions Applied
                        </div>
                    </div>
                </div>
                <!-- <div class="my-voucher-footer">
                    <button mat-stroked-button class="site-button medium-button share-button">
                        <mat-icon>share</mat-icon> Share
                    </button>
                    <button mat-raised-button class="site-button medium-button site-second-color">
                        Redeem
                    </button>
                </div> -->
            </div>
            <div class="my-voucher-item">
                <div class="my-voucher-header">
                    <div class="my-voucher-logo">
                        <img src="https://redvoucherblobstorage.blob.core.windows.net/images/mY9xFgLayer_71.png">
                    </div>
                    <div class="my-voucher-info-detail">
                        <div class="my-voucher-info-title">Puma</div>
                        <div class="my-voucher-info-category">Clothing & Apparels</div>
                    </div>
                    <div class="left-circle"></div>
                    <div class="right-circle"></div>
                </div>
                <hr class="divider" />
                <div class="my-voucher-body">
                    <div class="my-voucher-body-inner">
                        <div class="my-voucher-offer-detail">
                            <img src="/assets/images/icons/discount-icon.svg">
                            <div class="offer-amount">$80 off*</div>
                        </div>
                        <div class="term-condition-label">
                            *Terms and Conditions Applied
                        </div>
                    </div>
                </div>
                <div class="my-voucher-footer">
                    <button mat-stroked-button class="site-button medium-button share-button">
                        <mat-icon>share</mat-icon> Share
                    </button>
                    <button mat-raised-button class="site-button medium-button site-second-color">
                        Redeem
                    </button>
                </div>
            </div>
            <div class="my-voucher-item">
                <div class="my-voucher-header">
                    <div class="my-voucher-logo">
                        <img src="https://redvoucherblobstorage.blob.core.windows.net/images/mY9xFgLayer_71.png">
                    </div>
                    <div class="my-voucher-info-detail">
                        <div class="my-voucher-info-title">Puma</div>
                        <div class="my-voucher-info-category">Clothing & Apparels</div>
                    </div>
                    <div class="left-circle"></div>
                    <div class="right-circle"></div>
                </div>
                <hr class="divider" />
                <div class="my-voucher-body">
                    <div class="my-voucher-body-inner">
                        <div class="my-voucher-offer-detail">
                            <img src="/assets/images/icons/discount-icon.svg">
                            <div class="offer-amount">$80 off*</div>
                        </div>
                        <div class="term-condition-label">
                            *Terms and Conditions Applied
                        </div>
                    </div>
                </div>
                <!-- <div class="my-voucher-footer">
                    <button mat-stroked-button class="site-button medium-button share-button">
                        <mat-icon>share</mat-icon> Share
                    </button>
                    <button mat-raised-button class="site-button medium-button site-second-color">
                        Redeem
                    </button>
                </div> -->
            </div>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <div class="icon-container">
                <img src="/assets/images/icons/leaderboard-icon.svg" class="active-icon" />
                <img src="/assets/images/icons/leaderboard-icon-dark.svg" class="non-active-icon" />
            </div>
            <div>LEADBOARD</div>
        </ng-template>
        <div class="tab-page-container mat-elevation-z4">
            Large content
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <div class="icon-container">
                <img src="/assets/images/icons/setting-icon.svg" class="active-icon" />
                <img src="/assets/images/icons/setting-icon-dark.svg" class="non-active-icon" />
            </div>
            <div>SETTINGS</div>
        </ng-template>
        <div class="tab-page-container mat-elevation-z4">
            <div class="register-container">
                <div class="register-inner-container">
                    <div class="register-header-container">
                        <h2>Profile Settings</h2>
                        <p>There are many variation have suffered</p>
                    </div>
                    <div class="register-body-container">
                        <form class="site-form" novalidate="novalidate" #userForm="ngForm">
                            <div class="profile-pic-image-container">
                                <img class="user-profile-setting" src="/assets/images/icons/profile-pic-icon.svg">
                                <img class="user-profile-pic" src="/assets/images/icons/user-profile.png">
                            </div>
                            <mat-form-field class="site-form-field no-margin-bottom" appearance="fill"
                                appearance="outline"
                                [ngClass]="{'mat-form-field-invalid':!userName.valid && onClickValidation}">
                                <mat-label>Name</mat-label>
                                <input matInput placeholder="Name" required="required" name="userName"
                                    #userName="ngModel" [(ngModel)]="user.name">
                                <mat-hint class="error-text" *ngIf="onClickValidation && userName?.errors?.required">
                                    {{"COMMON.REQUIRED_INPUT_VALIDATION_MESSAGE" | translate}}
                                </mat-hint>
                            </mat-form-field>
                            <mat-form-field class="site-form-field no-margin-bottom" appearance="fill"
                                appearance="outline"
                                [ngClass]="{'mat-form-field-invalid':!userEmail.valid && onClickValidation}">
                                <mat-label>Email Address</mat-label>
                                <input matInput placeholder="Email Address" required="required" name="userEmail"
                                    #userEmail="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                                    [(ngModel)]="user.email">
                                <mat-hint class="error-text" *ngIf="onClickValidation && userEmail?.errors?.required">
                                    {{"COMMON.REQUIRED_INPUT_VALIDATION_MESSAGE" | translate}}
                                </mat-hint>
                                <mat-hint class="error-text" *ngIf="onClickValidation && userEmail?.errors?.pattern">
                                    {{"COMMON.REQUIRED_PATTERN_VALIDATION_MESSAGE" | translate}}
                                </mat-hint>
                            </mat-form-field>
                            <mat-form-field class="site-form-field no-margin-bottom" appearance="fill"
                                appearance="outline"
                                [ngClass]="{'mat-form-field-invalid':!userAddress.valid && onClickValidation}">
                                <mat-label>Address</mat-label>
                                <input matInput ngx-google-places-autocomplete placeholder="Address" required="required"
                                    name="userAddress" #userAddress="ngModel" [(ngModel)]="user.uiAddress"
                                    (onAddressChange)="onAddressChange($event)">
                                <mat-hint class="error-text" *ngIf="onClickValidation && userAddress?.errors?.required">
                                    {{"COMMON.REQUIRED_INPUT_VALIDATION_MESSAGE" | translate}}
                                </mat-hint>
                            </mat-form-field>
                            <div class="change-password-link">
                                <a color="primary" [routerLink]="['/account/change/password']">Change Password?</a>
                            </div>
                            <button mat-raised-button color="primary" class="site-button large-button full-width">
                                Save
                            </button>
                            <button mat-flat-button color="primary" type="button" [routerLink]="['/account/interest']"
                                class="site-button large-button full-width margin-top-20 update-interest-button">
                                Update Your Interest
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>