<!-- <mat-toolbar class="text-center">
    <span>FIND VOUCHERS</span>
</mat-toolbar> -->
<mat-tab-group dynamicHeight headerPosition="below" [(selectedIndex)]="selectedTabIndex"
    (selectedTabChange)="onTabChanged($event);">
    <mat-tab>
        <ng-template mat-tab-label>
            <div class="icon-container">
                <img src="/assets/images/icons/home-icon.svg" class="active-icon" />
                <img src="/assets/images/icons/home-icon-dark.svg" class="non-active-icon" />
            </div>
            <div>HOME</div>
        </ng-template>
        <div class="tab-page-container mat-elevation-z4">
            <div class="find-voucher-header-title text-center">
            </div>
            <agm-map [zoom]="11" [disableDefaultUI]="false" [fitBounds]="true" (mapReady)="onMapReady($event)">
                <agm-overlay [latitude]="marker.latitude" [longitude]="marker.longitude"
                    *ngFor="let marker of markers;let i=index">
                    <div class="marker-main-info">
                        <img class="placeholder-image" src="/assets/images/icons/map-pin-default-small.png"
                            *ngIf="marker.type === 'DISCOUNT' || marker.type === 'VOUCHER'">
                        <img class="placeholder-image" src="/assets/images/icons/map-pin-hunt-primary-small.png"
                            *ngIf="marker.type === 'HUNT'">
                        <img class="placeholder-image" src="/assets/images/icons/map-pin-trivia-primary-small.png"
                            *ngIf="marker.type === 'TRIVIA'">
                        <img class="client-logo"
                            [src]="marker.logo.length>0?marker.logo[0].path:'/assets/images/icons/map-pin-default-small.png'"
                            *ngIf="marker.type === 'DISCOUNT' || marker.type === 'VOUCHER'">
                    </div>
                </agm-overlay>
                <agm-marker [agmFitBounds]="true" [latitude]="marker.latitude" [longitude]="marker.longitude"
                    [openInfoWindow]="true" [iconUrl]="marker.finalIcon" *ngFor="let marker of markers;let i=index"
                    [label]="'3'" [animation]="'DROP'" [visible]="false">
                </agm-marker>
            </agm-map>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <div class="icon-container">
                <img src="/assets/images/icons/my-voucher-icon.svg" class="active-icon" />
                <img src="/assets/images/icons/my-voucher-icon-dark.svg" class="non-active-icon" />
            </div>
            <div>MY VOUCHERS</div>
        </ng-template>
        <div class="tab-page-container my-vouchers-container mat-elevation-z4">
            <div class="my-voucher-item">
                <div class="my-voucher-header">
                    <div class="my-voucher-logo">
                        <img src="https://redvoucherblobstorage.blob.core.windows.net/images/mY9xFgLayer_71.png">
                    </div>
                    <div class="my-voucher-info-detail">
                        <div class="my-voucher-info-title">Puma</div>
                        <div class="my-voucher-info-category">Clothing & Apparels</div>
                    </div>
                    <div class="left-circle"></div>
                    <div class="right-circle"></div>
                </div>
                <hr class="divider" />
                <div class="my-voucher-body">
                    <div class="my-voucher-body-inner">
                        <!-- <img src="/assets/images/my-voucher-background.svg" class="voucher-background"> -->
                        <div class="my-voucher-offer-detail">
                            <img src="/assets/images/icons/discount-icon.svg">
                            <div class="offer-amount">$80 off*</div>
                        </div>
                        <div class="term-condition-label">
                            *Terms and Conditions Applied
                        </div>
                    </div>
                </div>
                <div class="my-voucher-footer">
                    <button mat-stroked-button class="site-button medium-button share-button">
                        <mat-icon>share</mat-icon> Share
                    </button>
                    <button mat-raised-button class="site-button medium-button site-second-color">
                        Redeem
                    </button>
                </div>
            </div>
            <div class="my-voucher-item">
                <div class="my-voucher-header">
                    <div class="my-voucher-logo">
                        <img src="https://redvoucherblobstorage.blob.core.windows.net/images/mY9xFgLayer_71.png">
                    </div>
                    <div class="my-voucher-info-detail">
                        <div class="my-voucher-info-title">Puma</div>
                        <div class="my-voucher-info-category">Clothing & Apparels</div>
                    </div>
                    <div class="left-circle"></div>
                    <div class="right-circle"></div>
                </div>
                <hr class="divider" />
                <div class="my-voucher-body">
                    <div class="my-voucher-body-inner">
                        <div class="my-voucher-offer-detail">
                            <img src="/assets/images/icons/discount-icon.svg">
                            <div class="offer-amount">$80 off*</div>
                        </div>
                        <div class="term-condition-label">
                            *Terms and Conditions Applied
                        </div>
                    </div>
                </div>
                <div class="my-voucher-footer">
                    <button mat-stroked-button class="site-button medium-button share-button">
                        <mat-icon>share</mat-icon> Share
                    </button>
                    <button mat-raised-button class="site-button medium-button site-second-color">
                        Redeem
                    </button>
                </div>
            </div>
            <div class="my-voucher-item">
                <div class="my-voucher-header">
                    <div class="my-voucher-logo">
                        <img src="https://redvoucherblobstorage.blob.core.windows.net/images/mY9xFgLayer_71.png">
                    </div>
                    <div class="my-voucher-info-detail">
                        <div class="my-voucher-info-title">Puma</div>
                        <div class="my-voucher-info-category">Clothing & Apparels</div>
                    </div>
                    <div class="left-circle"></div>
                    <div class="right-circle"></div>
                </div>
                <hr class="divider" />
                <div class="my-voucher-body">
                    <div class="my-voucher-body-inner">
                        <div class="my-voucher-offer-detail">
                            <img src="/assets/images/icons/discount-icon.svg">
                            <div class="offer-amount">$80 off*</div>
                        </div>
                        <div class="term-condition-label">
                            *Terms and Conditions Applied
                        </div>
                    </div>
                </div>
                <div class="my-voucher-footer">
                    <button mat-stroked-button class="site-button medium-button share-button">
                        <mat-icon>share</mat-icon> Share
                    </button>
                    <button mat-raised-button class="site-button medium-button site-second-color">
                        Redeem
                    </button>
                </div>
            </div>
            <div class="my-voucher-item">
                <div class="my-voucher-header">
                    <div class="my-voucher-logo">
                        <img src="https://redvoucherblobstorage.blob.core.windows.net/images/mY9xFgLayer_71.png">
                    </div>
                    <div class="my-voucher-info-detail">
                        <div class="my-voucher-info-title">Puma</div>
                        <div class="my-voucher-info-category">Clothing & Apparels</div>
                    </div>
                    <div class="left-circle"></div>
                    <div class="right-circle"></div>
                </div>
                <hr class="divider" />
                <div class="my-voucher-body">
                    <div class="my-voucher-body-inner">
                        <div class="my-voucher-offer-detail">
                            <img src="/assets/images/icons/discount-icon.svg">
                            <div class="offer-amount">$80 off*</div>
                        </div>
                        <div class="term-condition-label">
                            *Terms and Conditions Applied
                        </div>
                    </div>
                </div>
                <div class="my-voucher-footer">
                    <button mat-stroked-button class="site-button medium-button share-button">
                        <mat-icon>share</mat-icon> Share
                    </button>
                    <button mat-raised-button class="site-button medium-button site-second-color">
                        Redeem
                    </button>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <div class="icon-container">
                <img src="/assets/images/icons/leaderboard-icon.svg" class="active-icon" />
                <img src="/assets/images/icons/leaderboard-icon-dark.svg" class="non-active-icon" />
            </div>
            <div>LEADBOARD</div>
        </ng-template>
        <div class="tab-page-container mat-elevation-z4">
            Large content
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <div class="icon-container">
                <img src="/assets/images/icons/setting-icon.svg" class="active-icon" />
                <img src="/assets/images/icons/setting-icon-dark.svg" class="non-active-icon" />
            </div>
            <div>SETTINGS</div>
        </ng-template>
        <div class="tab-page-container mat-elevation-z4">
            Large content
        </div>
    </mat-tab>
</mat-tab-group>