<mat-toolbar class="text-center">
    <span>FIND VOUCHERS</span>
</mat-toolbar>
<!-- <mat-tab-group headerPosition="below">
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group> -->

<mat-tab-group dynamicHeight headerPosition="below">
    <mat-tab>
        <ng-template mat-tab-label>
            <img src="/assets/images/icons/home-icon.svg" />
            <div>HOME</div>
        </ng-template>
        <div class="tab-page-container mat-elevation-z4">
            Small content
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <img src="/assets/images/icons/my-voucher-icon.svg" />
            <div>MY VOUCHERS</div>
        </ng-template>
        <div class="tab-page-container mat-elevation-z4">
            Large content
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <img src="/assets/images/icons/leaderboard-icon.svg" />
            <div>LEADBOARD</div>
        </ng-template>
        <div class="tab-page-container mat-elevation-z4">
            Large content
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <img src="/assets/images/icons/setting-icon.svg" />
            <div>SETTINGS</div>
        </ng-template>
        <div class="tab-page-container mat-elevation-z4">
            Large content
        </div>
    </mat-tab>
</mat-tab-group>