.margin-top-5 {
    margin-top: 5px !important;
}

.margin-top-8 {
    margin-top: 8px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-top-25 {
    margin-top: 25px !important;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.margin-top-35 {
    margin-top: 35px !important;
}

.margin-top-40 {
    margin-top: 40px !important;
}

.margin-top-45 {
    margin-top: 45px !important;
}

.margin-top-50 {
    margin-top: 50px !important;
}

.margin-top-55 {
    margin-top: 55px !important;
}

.margin-top-60 {
    margin-top: 60px !important;
}

.margin-top-70 {
    margin-top: 70px !important;
}

.margin-top-80 {
    margin-top: 80px !important;
}

/*------------*/

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-25 {
    margin-bottom: 25px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.margin-bottom-35 {
    margin-bottom: 35px !important;
}

.margin-bottom-40 {
    margin-bottom: 40px !important;
}

.margin-bottom-45 {
    margin-bottom: 45px !important;
}

.margin-bottom-50 {
    margin-bottom: 50px !important;
}

.margin-bottom-55 {
    margin-bottom: 55px !important;
}

.margin-bottom-60 {
    margin-bottom: 60px !important;
}

.margin-bottom-70 {
    margin-bottom: 70px !important;
}

.margin-bottom-80 {
    margin-bottom: 80px !important;
}

/*--------------*/

.margin-left-5 {
    margin-left: 5px !important;
}

.margin-left-10 {
    margin-left: 10px !important;
}

.margin-left-15 {
    margin-left: 15px !important;
}

.margin-left-20 {
    margin-left: 20px !important;
}

.margin-left-25 {
    margin-left: 25px !important;
}

.margin-left-30 {
    margin-left: 30px !important;
}

.margin-left-35 {
    margin-left: 35px !important;
}

.margin-left-40 {
    margin-left: 40px !important;
}

.margin-left-45 {
    margin-left: 45px !important;
}

.margin-left-50 {
    margin-left: 50px !important;
}

.margin-left-55 {
    margin-left: 55px !important;
}

.margin-left-60 {
    margin-left: 60px !important;
}

/*--------------*/

.margin-right-5 {
    margin-right: 5px !important;
}

.margin-right-10 {
    margin-right: 10px !important;
}

.margin-right-15 {
    margin-right: 15px !important;
}

.margin-right-20 {
    margin-right: 20px !important;
}

.margin-right-25 {
    margin-right: 25px !important;
}

.margin-right-30 {
    margin-right: 30px !important;
}

.margin-right-35 {
    margin-right: 35px !important;
}

.margin-right-40 {
    margin-right: 40px !important;
}

.margin-right-45 {
    margin-right: 45px !important;
}

.margin-right-50 {
    margin-right: 50px !important;
}

.margin-right-55 {
    margin-right: 55px !important;
}

.margin-right-60 {
    margin-right: 60px !important;
}

/*------------*/

.no-margin-left {
    margin-left: 0px !important;
}

.no-margin-bottom {
    margin-bottom: 0px !important;
}

.no-margin-top {
    margin-top: 0px !important;
}

.no-margin-right {
    margin-right: 0px !important;
}

.no-margin {
    margin: 0px !important;
}

/*End Margin Classes*/

/*Padding Classes*/

.no-padding {
    padding: 0px !important;
}

.no-padding-left {
    padding-left: 0px !important;
}

.no-padding-right {
    padding-right: 0px !important;
}

.no-padding-top {
    padding-top: 0px !important;
}

.no-padding-bottom {
    padding-bottom: 0px !important;
}

.padding-5 {
    padding: 5px;
}

.padding-10 {
    padding: 10px;
}

.padding-15 {
    padding: 15px;
}

.padding-20 {
    padding: 20px !important;
}

.padding-left-5 {
    padding-left: 5px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-left-15 {
    padding-left: 15px;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-right-5 {
    padding-right: 5px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-right-15 {
    padding-right: 15px;
}

.padding-right-20 {
    padding-right: 20px;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.disable {
    display: none;
}

html {
    min-height: 100%;
    position: relative;
    height: 100%;
}

body {
    font-family: "Montserrat", sans-serif !important;
    min-height: 100%;
    margin: 0px !important;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-danger {
    color: #b11b25 !important;
}

a {
    cursor: pointer !important;
    text-decoration: none !important;
    color: $primary;
}

.primary-color-text {
    color: $primary !important;
    font-weight: 500;
}

.primary-color {
    color: $primary !important;
    font-weight: 500;
    text-transform: capitalize;
}

.site-form-field {
    width: 100%;
    margin-bottom: 10px;
    .site-form-field {
        font-size: 16px;
    }
}
input.mat-input-element {
    height: 26px;
}

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.mat-form-field-appearance-outline.mat-form-field-can-float
    .mat-input-server:focus
    + .mat-form-field-label-wrapper
    .mat-form-field-label {
    transform: translateY(-2.25em) scale(0.75);
    width: 133.3333333333%;
}
.mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0 1em 0 1em !important;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 1rem 0 1.1rem 0 !important;
}
.mat-form-field-appearance-outline .mat-form-field-label {
    top: 2.4em !important;
}
.mat-form-field-appearance-outline .mat-form-field-prefix,
.mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 0.1em !important;
}

.site-button {
    &.full-width {
        width: 100%;
    }
    &.large-button {
        min-height: 56px;
    }
    &.medium-button {
        min-height: 45px;
    }
    &.site-second-color {
        background-color: #ee8264 !important;
        color: #fff !important;
    }
}

.error-text {
    color: #ff5722;
    font-size: 11.5px;
}

.custom-update-popup {
    color: #fff;
    .mat-dialog-container {
        background-color: $primary;
        padding: 10px 20px !important;
        color: #fff;
    }
    .mat-dialog-content {
        margin: 0 !important;
        padding: 0px !important;
    }
    .update-popup-actions {
        float: right;
        margin-top: 5px;
        .mat-button {
            line-height: 25px !important;
        }
    }
    .available-app {
        font-size: 14px;
    }
    .installing-app {
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mat-progress-spinner circle,
    .mat-spinner circle {
        stroke: #fff !important;
    }
}

.loading-container {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 999999999;
    top: 0;

    .loader {
        margin: 0px auto;
    }
}
