mat-toolbar {
    justify-content: center !important;
    background: transparent linear-gradient(180deg, #ffffff00 0%, #ffffff 100%) !important;
    padding: 0px !important;
    background: rgba(255, 255, 255, 0.5) !important;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 99999;
    height: 56px;
    span {
        font-size: 14px;
        font-weight: 500;
    }
}

mat-tab-header {
    border-top: 0px !important;
    mat-ink-bar {
        display: none !important;
    }
    .mat-tab-label {
        padding: 10px 17.3px !important;
        height: 75px !important;
        opacity: 1 !important;
        min-width: 95.2px !important;
    }
    .mat-tab-label-content {
        flex-direction: column;
        font-size: 9px;
        font-weight: 500;
        .icon-container {
            border-radius: 8px;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 44px;
            width: 44px;
            .active-icon {
                display: none !important;
            }
            .non-active-icon {
                display: inline-block !important;
            }
        }
    }
    .mat-tab-label-active {
        .mat-tab-label-content {
            .icon-container {
                background-color: #ee8264 !important;
                .active-icon {
                    display: inline-block !important;
                }
                .non-active-icon {
                    display: none !important;
                }
            }
        }
    }
}
mat-tab-body {
    .mat-tab-body-content {
        height: calc(100vh - 76px) !important;
    }
    .tab-page-container {
        height: calc(100vh - 76px) !important;
        box-shadow: none !important;

        &.my-vouchers-container {
            padding: 20px;
            background-color: #f5f5f5;
            overflow-y: auto;
            height: calc(100vh - 116px) !important;
        }
    }
}

agm-map {
    height: calc(100vh - 76px);
    .gm-style-iw button > img {
        display: none !important;
    }
    .marker-main-info {
        position: relative;
        .client-logo {
            position: absolute;
            width: 38px;
            height: 38px;
            left: 6px;
            border-radius: 50%;
            top: 6px;
        }
    }
}

.find-voucher-header-title {
    height: 56px;
    // background: linear-gradient(194deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.3) 100%);
    background: url("/assets/images/find-voucher-header.svg");
    position: absolute;
    z-index: 99999;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
        font-size: 14px;
        color: #000;
        font-weight: 500;
    }
}

.my-voucher-item {
    margin-bottom: 15px;

    &:last-child {
        margin-bottom: 0px !important;
    }
    .my-voucher-header {
        padding: 20px;
        display: flex;
        flex-direction: row;
        padding-bottom: 15px;
        align-items: center;
        position: relative;
        background-color: #fff;
        border-radius: 16px;
        .my-voucher-logo {
            min-width: 70px !important;
            height: 70px !important;
            border-radius: 16px;
            background: #7aaf0d;
            box-shadow: 0px 3px 6px #00000029;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                max-width: 50px;
            }
        }
        .my-voucher-info-detail {
            margin-left: 10px;
            .my-voucher-info-title {
                font-size: 18px;
                font-weight: 600;
            }
            .my-voucher-info-category {
                font-size: 11px;
                color: #010101;
            }
        }
        .my-voucher-grab-detail {
            font-size: 8px;
            letter-spacing: -0.08px;
            color: #010101;
        }
    }

    .divider {
        border-bottom: 1px dashed #dadada;
        padding: 0px;
        width: 90%;
        margin: 0 auto;
        border: 1px dashed #dadada;
        opacity: 0.55;
    }
    .left-circle {
        position: absolute;
        bottom: -8px;
        left: -8px;
        transform: rotate(90deg);
        height: 16px;
        width: 30px;
        border-radius: 30px 30px 0 0;
        background-color: #f5f5f5;
    }
    .right-circle {
        position: absolute;
        bottom: -8px;
        right: -8px;
        transform: rotate(270deg);
        height: 16px;
        width: 30px;
        border-radius: 30px 30px 0 0;
        background-color: #f5f5f5;
    }
    .my-voucher-body {
        text-align: center;
        padding: 20px;
        background-color: #fff;
        border-radius: 16px;

        .my-voucher-body-inner {
            height: 153px;
            background: url("/assets/images/my-voucher-background.svg");
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #fff;
            .my-voucher-offer-detail {
                display: flex;
                align-items: center;
                flex-direction: row;
                .offer-amount {
                    font-size: 33px;
                    font-weight: 500;
                    text-shadow: 0px 3px 6px #00000029;
                }
            }
            .term-condition-label {
                font-size: 9px;
                font-weight: 500;
                letter-spacing: -0.09px;
            }
        }
        .voucher-background {
            width: 100%;
        }
    }
    .my-voucher-footer {
        padding: 20px;
        text-align: center;
        background-color: transparent;
        padding-bottom: 5px;
        button {
            min-width: 120px;
            &.share-button {
                margin-right: 10px;
                background-color: transparent;
                border-color: #707070;
            }
        }
    }
}
