@font-face {
    font-family: "gilroy-regular";
    src: url("/assets/fonts/gilroy-regular.otf") format("opentype");
}
@font-face {
    font-family: "gilroy-medium";
    src: url("/assets/fonts/gilroy-medium.otf") format("opentype");
}
@font-face {
    font-family: "gilroy-semibold";
    src: url("/assets/fonts/gilroy-semibold.otf") format("opentype");
}
@font-face {
    font-family: "gilroy-bold";
    src: url("/assets/fonts/gilroy-bold.otf") format("opentype");
}
