.login-container {
    background-color: #f5f5f5;
    min-height: 100vh;

    &.height-auto {
        min-height: calc(100vh - 84px) !important;
    }
    .login-header-container {
        padding: 40px 25px;
        display: flex;
        justify-content: space-between;
        .left-side-info-section {
            display: flex;
            justify-content: center;
            flex-direction: column;
            h2 {
                font-size: 34px;
                font-weight: bold;
                line-height: 39px;
                margin-bottom: 0px;
                font-family: "gilroy-bold", sans-serif !important;
            }
            p {
                margin-top: 5px;
                font-size: 16px;
                line-height: 27px;
                color: #787878;
                margin-bottom: 0px;
                font-family: "gilroy-regular", sans-serif !important;
            }
        }
        &.forgot-header {
            flex-direction: column;
            text-align: center;
            padding-bottom: 0px !important;
            img {
                max-height: 300px;
            }
            p {
                font-size: 14px;
            }
        }
        &.reset-header {
            flex-direction: column;
            text-align: center;
            padding-bottom: 0px !important;
            img {
                max-height: 190px;
                margin-bottom: 20px;
            }
            p {
                font-size: 14px;
            }
        }
    }
    .login-body-container {
        padding: 20px 30px;
        .forgot-password-link {
            text-align: right;
            margin-bottom: 20px;
            a {
                font-size: 13px;
                font-weight: 600;
                color: $primary;
            }
        }
        .or-label {
            text-align: center;
            color: #9d9999;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .social-button-container {
            text-align: center;
            .social-login-button {
                margin-left: 5px;
                margin-right: 5px;
                background-color: #f5f5f5;
                height: 58px;
                width: 58px;
                border-radius: 10px;
                border: 1px solid #cbcbcb;
                box-shadow: 0px 3px 5px #00000029;
                img {
                    margin-top: -2px;
                }
            }
        }
        .create-account-label {
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #000;
            a {
                color: #ee8264;
                text-decoration: underline !important;
                font-weight: 600;
            }
        }
        .privacy-policy-label {
            margin-top: 40px;
            font-size: 12px;
            text-align: center;
            color: #6a6a6a;
            a {
                color: #000;
                font-weight: 600;
            }
        }
    }
}

.register-container {
    background-color: #fff;
    .register-header-container {
        padding: 40px 25px 15px 25px;
        padding-top: 60px;
        h2 {
            font-size: 24px;
            font-weight: bold;
            line-height: 29px;
            margin-bottom: 0px;
            font-family: "gilroy-bold", sans-serif !important;
        }
        p {
            margin-top: 5px;
            line-height: 27px;
            color: #787878;
            margin-bottom: 0px;
            font-size: 14px;
            font-family: "gilroy-regular", sans-serif !important;
        }
    }
    .register-header-main-container {
        padding: 40px 25px 15px 25px;
        padding-top: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logout-icon {
            cursor: pointer !important;
        }
    }
    .register-body-container {
        padding: 0px 25px;
        padding-bottom: 20px;
        padding-top: 10px;
        .create-account-label {
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #000;
            a {
                color: $primary;
                text-decoration: underline !important;
                font-weight: 600;
            }
        }
        .privacy-policy-label {
            margin-top: 30px;
            font-size: 12px;
            text-align: center;
            color: #6a6a6a;
            a {
                color: #000;
                font-weight: 600;
            }
        }
    }
}
.onboarding-container {
    background-color: #f5f5f5;
    min-height: 100vh;
    &.height-auto {
        min-height: calc(100vh - 84px) !important;
    }
    .onboarding-header-container {
        padding: 40px 25px;
        display: flex;
        justify-content: space-between;
        .left-side-info-section {
            display: flex;
            justify-content: center;
            flex-direction: column;
            h2 {
                font-size: 24px;
                font-weight: bold;
                line-height: 39px;
                margin-bottom: 0px;
                font-family: "gilroy-bold", sans-serif !important;
            }
            p {
                margin-top: 5px;
                font-size: 14px;
                line-height: 27px;
                color: #787878;
                margin-bottom: 0px;
                font-family: "gilroy-regular", sans-serif !important;
            }
        }
    }
    .onboarding-body-container {
        padding: 0px 25px;
        padding-bottom: 20px;
        text-align: center;
        min-height: calc(100vh - 260px);
        &.login-user-view {
            min-height: calc(100vh - 335px);
        }
        .category-item {
            width: 100px;
            border-radius: 12px;
            border: 1px solid #212121;
            background-color: #fff;
            box-shadow: 0px 0px 5px 0px #00000029;
            display: inline-block;
            vertical-align: top;
            margin-right: 20px;
            margin-bottom: 15px;
            padding: 30px 20px;
            padding-bottom: 15px;
            text-align: center;
            position: relative;
            .category-item-icon {
                width: 70px;
                height: 70px;
                margin: 0 auto;
            }
            .category-label {
                color: $primary;
                font-size: 12px;
                font-weight: 700;
                margin-top: 5px;
                min-height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &:nth-child(even) {
                margin-right: 0px !important;
            }
            .selected-category-icon {
                display: none;
                position: absolute;
                top: 10px;
                right: 10px;
            }
            &.selected {
                .selected-category-icon {
                    display: block;
                }
            }
        }
    }
    .onboarding-footer-container {
        padding: 0px 25px;
    }
}
@media screen and (max-width: 319px) {
    .onboarding-container {
        .onboarding-inner-container {
            .onboarding-body-container {
                .category-item {
                    margin-right: 0px !important;
                }
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .onboarding-container {
        .onboarding-inner-container {
            .onboarding-body-container {
                .category-item {
                    margin-right: 15px !important;
                }
            }
        }
    }
}
@media screen and (min-width: 992px) {
    .login-container {
        min-height: 92vh;
        padding: 4vh;
        .login-inner-container {
            max-width: 500px;
            margin: 0 auto;
            box-shadow: 0px 0px 5px 0px #00000029;
            min-height: 92vh;
        }
    }
    .register-container {
        padding: 4vh;
        .register-inner-container {
            max-width: 500px;
            margin: 0 auto;
            box-shadow: 0px 0px 5px 0px #00000029;
            min-height: 92vh;
        }
    }
    .onboarding-container {
        min-height: 92vh;
        padding: 4vh;
        .onboarding-inner-container {
            max-width: 500px;
            margin: 0 auto;
            box-shadow: 0px 0px 5px 0px #00000029;
            min-height: 92vh;
        }
        .onboarding-body-container {
            min-height: calc(100vh - 335px);
        }
    }
}
