<div class="login-container">
    <div class="login-inner-container">
        <div class="login-header-container reset-header">
            <img src="/assets/images/reset-password-image.svg" />
            <div class="left-side-info-section">
                <h2>Reset Password</h2>
                <p>There are many variation have suffered alteration</p>
            </div>
        </div>

        <div class="login-body-container">
            <form class="site-form" novalidate="novalidate" #resetForm="ngForm">
                <mat-form-field class="site-form-field" appearance="fill" appearance="outline"
                    [ngClass]="{'mat-form-field-invalid':userPassword.invalid && onClickValidation}">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="fieldType" placeholder="Password" name="userPassword"
                        #userPassword="ngModel" [(ngModel)]="data.password" required="required">
                    <mat-icon matSuffix (click)="togglePasswordField('PASSWORD')">visibility</mat-icon>
                    <mat-hint class="error-text" *ngIf="onClickValidation && userPassword?.errors?.required">
                        {{"COMMON.REQUIRED_INPUT_VALIDATION_MESSAGE" | translate}}
                    </mat-hint>
                </mat-form-field>
                <mat-form-field class="site-form-field" appearance="fill" appearance="outline"
                    [ngClass]="{'mat-form-field-invalid':userCofirmPassword.invalid && onClickValidation}">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput [type]="confirmFieldType" placeholder="Confirm Password" name="userCofirmPassword"
                        #userCofirmPassword="ngModel" [(ngModel)]="data.confirmPassword" required="required">
                    <mat-icon matSuffix (click)="togglePasswordField('C_PASSWORD')">visibility</mat-icon>
                    <mat-hint class="error-text" *ngIf="onClickValidation && userCofirmPassword?.errors?.required">
                        {{"COMMON.REQUIRED_INPUT_VALIDATION_MESSAGE" | translate}}
                    </mat-hint>
                    <mat-hint class="error-text"
                        *ngIf="onClickValidation && data.password && data.confirmPassword && data.password!==data.confirmPassword">
                        {{"COMMON.PASSWORD_NOT_MATCH_VALIDATION_MESSAGE" | translate}}
                    </mat-hint>
                </mat-form-field>
                <button mat-raised-button color="primary" class="site-button large-button full-width site-second-color"
                    (click)="reset(resetForm.form)">
                    Continue
                </button>
                <div class="or-label">
                    <span>OR</span>
                </div>
                <div class="text-center margin-top-30">
                    <div class="create-account-label">
                        Have a account? <a class="color-primary" [routerLink]="['/account/login']">Login</a>
                    </div>
                    <p class="privacy-policy-label">
                        By signing in, creating an account, you are agreeing to our <a href="#">Terms</a> of Use and our
                        <a href="#">Privacy Policy</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>