<div class="my-voucher-no-item-preview" *ngIf="!loading && myVouchers.length<=0">
    Still haven't grabbed any vouchers? Let's search voucher around you <a (click)="loadFindVoucher()">Click
        Here</a>
</div>
<div class="my-voucher-item" *ngFor="let voucher of myVouchers">
    <div class="my-voucher-header" (click)="redeem(voucher)">
        <div class="my-voucher-logo">
            <img [src]="voucher.categoryDetail?.selectedIcon?.path">
        </div>
        <div class="my-voucher-info-detail">
            <div class="my-voucher-info-title">{{voucher.voucher?.name}}</div>
            <div class="my-voucher-info-category">{{voucher.categoryDetail?.name}}</div>
        </div>
        <div class="left-circle"></div>
        <div class="right-circle"></div>
    </div>
    <hr class="divider" />
    <div class="my-voucher-body" (click)="redeem(voucher)">
        <div class="my-voucher-body-inner">
            <div class="my-voucher-offer-detail">
                <img src="/assets/images/icons/discount-icon.svg">
                <div class="offer-amount">${{voucher.voucher?.discount}} off*</div>
            </div>
            <div class="term-condition-label">
                *Terms and Conditions Applied
            </div>
        </div>
    </div>
    <div class="my-voucher-footer">
        <button mat-stroked-button class="site-button medium-button share-button" (click)="share(voucher, $event)">
            <mat-icon>share</mat-icon> Share
        </button>
        <button mat-raised-button class="site-button medium-button site-second-color" (click)="redeem(voucher)">
            Redeem
        </button>
    </div>
</div>