<!-- <a-scene vr-mode-ui="enabled: false" cursor='rayOrigin: mouse'
  arjs='sourceType: webcam; videoTexture: true; debugUIEnabled: false;' renderer='antialias: true; alpha: true'
  *ngIf="marker">
  <a-image gps-entity-place="latitude: {{marker.latitude}}; longitude: {{marker.longitude}};"
    src="/assets/images/icons/map-pin-default-large.png" clicker></a-image>
  <a-camera rotation-reader gps-camera="gpsMinDistance: 3;"></a-camera>
</a-scene> -->
<a-scene vr-mode-ui="enabled: false" cursor='rayOrigin: mouse' raycaster='near: 0; far: 50000'
  arjs='sourceType: webcam; videoTexture: true; debugUIEnabled: false;' renderer='antialias: true; alpha: true'>
  <a-image src="/assets/images/icons/map-pin-default-large.png"
    gps-entity-place="latitude: 44.504348; longitude: 11.301027;" (click)="collectMarker()"></a-image>
  <a-camera rotation-reader gps-camera="simulateLatitude: 44.50437; simulateLongitude: 11.30106; gpsMinDistance: 2;">
  </a-camera>
</a-scene>
