<div class="login-container">
    <div class="login-inner-container">
        <div class="login-header-container forgot-header">
            <img src="/assets/images/forgot-password-image.svg" class="app-logo" />
            <div class="left-side-info-section">
                <h2>Forgot Password</h2>
                <p>There are many variation have suffered alteration</p>
            </div>
        </div>

        <div class="login-body-container">
            <form class="site-form" novalidate="novalidate" #forgotForm="ngForm">
                <mat-form-field class="site-form-field" appearance="fill" appearance="outline"
                    [ngClass]="{'mat-form-field-invalid':!userEmail.valid && onClickValidation}">
                    <mat-label>Email Address</mat-label>
                    <input matInput placeholder="Email Address" required="required" name="userEmail"
                        #userEmail="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]="data.email">
                    <mat-hint class="error-text" *ngIf="onClickValidation && userEmail?.errors?.required">
                        {{"COMMON.REQUIRED_INPUT_VALIDATION_MESSAGE" | translate}}
                    </mat-hint>
                    <mat-hint class="error-text" *ngIf="onClickValidation && userEmail?.errors?.pattern">
                        {{"COMMON.REQUIRED_PATTERN_VALIDATION_MESSAGE" | translate}}
                    </mat-hint>
                </mat-form-field>
                <button mat-raised-button color="primary" class="site-button large-button full-width site-second-color"
                    (click)="forgot(forgotForm.form)">
                    Continue
                </button>
                <div class="or-label">
                    <span>OR</span>
                </div>
                <div class="text-center margin-top-30">
                    <div class="create-account-label">
                        Don`t have an account? <a [routerLink]="['/account/register']">Create On</a>
                    </div>
                    <p class="privacy-policy-label">
                        By signing in, creating an account, you are agreeing to our <a href="#">Terms</a> of Use and our
                        <a href="#">Privacy Policy</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>