<div class="login-container">
    <div class="login-header-container">
        <div class="left-side-info-section">
            <h2>Hello,</h2>
            <p>Login to your account</p>
        </div>
        <img src="/assets/images/app-logo.svg" class="app-logo" />
    </div>
    <div class="login-body-container">
        <form class="site-form">
            <mat-form-field class="site-form-field" appearance="fill" appearance="outline">
                <mat-label>Email Address</mat-label>
                <input matInput placeholder="Email Address">
            </mat-form-field>
            <mat-form-field class="site-form-field" appearance="fill" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password">
                <mat-icon matSuffix>visibility</mat-icon>
            </mat-form-field>
            <div class="forgot-password-link">
                <a color="primary">Forgot Password?</a>
            </div>
            <button mat-raised-button color="primary" class="site-button large-button full-width">Sign In &
                Continue</button>
            <div class="or-label">
                <span>OR</span>
            </div>
            <div class="social-button-container">
                <button mat-raised-button color="primary" aria-label="Example icon button with a delete icon">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-raised-button color="primary" aria-label="Example icon button with a delete icon">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-raised-button color="primary" aria-label="Example icon button with a delete icon">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </form>
    </div>
</div>