<div class="login-container">
    <div class="login-header-container">
        <div class="left-side-info-section">
            <h2>Hello,</h2>
            <p>Login to your account</p>
        </div>
        <img src="/assets/images/app-logo.svg" class="app-logo" />
    </div>
    <div class="login-body-container">
        <form class="site-form">
            <mat-form-field class="site-form-field" appearance="fill" appearance="outline">
                <mat-label>Email Address</mat-label>
                <input matInput placeholder="Email Address">
            </mat-form-field>
            <mat-form-field class="site-form-field" appearance="fill" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password">
                <mat-icon matSuffix>visibility</mat-icon>
            </mat-form-field>
        </form>
    </div>
</div>