<div class="leaderboard-container">
    <div class="leaderboard-header">
        <div class="leaderboard-header-items">
            <div class="leaderboard-header-item" [ngClass]="{'selected':state==='CURRENT_MONTH'}" (click)="toggle()">
                Current Month
            </div>
            <div class="leaderboard-header-item" [ngClass]="{'selected':state==='OVERALL'}" (click)="toggle()">
                Overall
            </div>
        </div>
    </div>
    <div class="leaderboard-winners"
        [ngClass]="{'center-winner':topUsers.length===1,'start-winner':topUsers.length===2}">
        <div class="winner-user" *ngFor="let user of topUsers;let i=index"
            [ngClass]="{'second':user.rank===2, 'first':user.rank===1, 'third':user.rank===3}">
            <div class="winner-image">
                <img [src]="user.profilePic || '/assets/images/icons/user-profile.png'">
                <div class="winner-badge" *ngIf="user.rank===1">1st</div>
                <div class="winner-badge" *ngIf="user.rank===2">2nd</div>
                <div class="winner-badge" *ngIf="user.rank===3">3rd</div>
            </div>
            <div class="winner-name">
                <span *ngIf="myDetail.id===user.id">You</span>
                <span *ngIf="myDetail.id!==user.id">{{user.customerName}}</span>
            </div>
        </div>
    </div>
    <div class="leaderboard-users">
        <div class="leaderboard-user-item" *ngFor="let record of records;let i=index">
            <div class="leaderboard-user-item-image" [ngClass]="{'my-rank':myDetail.id===record.id}">
                <img [src]="record.profilePic || '/assets/images/icons/user-profile.png'" width="30">
                <span>{{i+4}}th</span>
            </div>
            <div class="leaderboard-user-item-name">
                <span *ngIf="myDetail.id===record.id">You</span>
                <span *ngIf="myDetail.id!==record.id">{{record.customerName}}</span>
            </div>
            <div class="leaderboard-user-item-amount">
                $550
            </div>
        </div>
    </div>
</div>